# Formvariasjon i bokmål

## Last inn fullformsordliste

In [6]:
import pandas as pd
from rich import print

In [7]:
df = pd.read_csv('fullformsliste.txt', sep='\t')

## Legg til POS-kolonne

In [8]:
df['POS'] = df['TAG'].apply(lambda x:x.split(' ')[0])

In [9]:
df = df.drop_duplicates(subset=['OPPSLAG', 'LEMMA_ID', 'TAG'])

## Finn antall ord per ordklasse

In [10]:
pos_df = df.groupby(['POS'])['OPPSLAG'].count().reset_index()
pos_df.columns = ['pos', 'antall']

## Regn ut gjennomsnittlig antall alternative former per ordklasse
Grupper datarammen på LEMMA_ID, 'TAG', og 'POS' og tell antall oppslag. Det gir (om jeg har tenkt riktig) antallet former som har samme lemma, ordklasse og morfologiske trekk. Grupper så dette på ordklasse og regn ut gjennomsnittet. Det gir gjennomsnittlig antall alternative former per ordklasse. Legg til antall ord totalt per ordklasse og skriv ut ordklassene med mer enn 200 ord totalt. Jeg er litt usikker på om jeg har tenkt riktig her, så logikken bør sjekkes.

In [11]:
stats = df.groupby(['LEMMA_ID', 'TAG', 'POS'])['OPPSLAG'].count().groupby(['POS']).mean()
stats = stats.reset_index()
stats.columns = ['pos', 'gjennomsnitt']
stats = pd.merge(stats, pos_df, on='pos')
stats[stats.antall > 200].sort_values('gjennomsnitt', ascending=False)

       pos  gjennomsnitt  antall
1      adj      1.254020  158483
67    verb      1.221570   61379
57   subst      1.075158  624295
22    fork      1.026777     997
16     det      1.019157     266
9      adv      1.001657    1209
28  interj      1.000000     280
32    pref      1.000000     238
33    prep      1.000000     282
66    symb      1.000000     366