# Formvariasjon i nynorsk

## Last inn fullformsordliste

In [1]:
import pandas as pd
from rich import print

In [3]:
df = pd.read_csv('fullformer_2012.txt', sep='\t')

## Legg til POS-kolonne

In [4]:
df['POS'] = df['TAG'].apply(lambda x:x.split(' ')[0])

In [5]:
df = df.drop_duplicates(subset=['OPPSLAG', 'LEMMA_ID'])

## Finn antall ord per ordklasse

In [6]:
pos_df = df.groupby(['POS'])['OPPSLAG'].count().reset_index()
pos_df.columns = ['pos', 'antall']

## Regn ut gjennomsnittlig antall alternative former per ordklasse
Grupper datarammen på LEMMA_ID, 'TAG', og 'POS' og tell antall oppslag. Det gir (om jeg har tenkt riktig) antallet former som har samme lemma, ordklasse og morfologiske trekk. Grupper så dette på ordklasse og regn ut gjennomsnittet. Det gir gjennomsnittlig antall alternative former per ordklasse. Legg til antall ord totalt per ordklasse og skriv ut ordklassene med mer enn 200 ord totalt. Jeg er litt usikker på om jeg har tenkt riktig her, så logikken bør sjekkes.

In [7]:
stats = df.groupby(['LEMMA_ID', 'TAG', 'POS'])['OPPSLAG'].count().groupby(['POS']).mean()
stats = stats.reset_index()
stats.columns = ['pos', 'gjennomsnitt']
stats = pd.merge(stats, pos_df, on='pos')
stats[stats.antall > 200].sort_values('gjennomsnitt', ascending=False)

       pos  gjennomsnitt  antall
17    fork      1.411111    1143
54    verb      1.215415   44201
53    symb      1.021097     242
44   subst      1.019982  307195
4      adj      1.019005   74851
9      adv      1.001590    1260
18       i      1.000000     426
20  interj      1.000000     236
24    pref      1.000000     248
25    prep      1.000000     337