# Formvariasjon i bokmål

## Last inn fullformsordliste

In [61]:
import pandas as pd
from rich import print

In [62]:
df = pd.read_csv('fullformsliste.txt', sep='\t')

## Legg til POS-kolonne

In [63]:
df['POS'] = df['TAG'].apply(lambda x:x.split(' ')[0])

In [64]:
df = df.drop_duplicates(subset=['OPPSLAG', 'LEMMA_ID'])

## Finn antall ord per ordklasse

In [65]:
pos_df = df.groupby(['POS'])['OPPSLAG'].count().reset_index()
pos_df.columns = ['pos', 'antall']

## Regn ut gjennomsnittlig antall alternative former per ordklasse
Grupper datarammen på LEMMA_ID, 'TAG', og 'POS' og tell antall oppslag. Det gir (om jeg har tenkt riktig) antallet former som har samme lemma, ordklasse og morfologiske trekk. Grupper så dette på ordklasse og regn ut gjennomsnittet. Det gir gjennomsnittlig antall alternative former per ordklasse. Legg til antall ord totalt per ordklasse og skriv ut ordklassene med mer enn 200 ord totalt. Jeg er litt usikker på om jeg har tenkt riktig her, så logikken bør sjekkes.

In [66]:
stats = df.groupby(['LEMMA_ID', 'TAG', 'POS'])['OPPSLAG'].count().groupby(['POS']).mean()
stats = stats.reset_index()
stats.columns = ['pos', 'gjennomsnitt']
stats = pd.merge(stats, pos_df, on='pos')
stats[stats.antall > 200].sort_values('gjennomsnitt', ascending=False)

       pos  gjennomsnitt  antall
53   subst      1.077132  502986
1      adj      1.069756   77461
63    verb      1.032804   40741
21    fork      1.029795     553
15     det      1.008475     238
8      adv      1.001682    1191
26  interj      1.000000     279
30    pref      1.000000     237
31    prep      1.000000     280
62    symb      1.000000     215